// Root variables

// Colors
$main-font-color: #181d24;
$light-font-color: #ffffff;

$accent-color: #716645;
$alt-accent-color: #948865;
$main-bg-color: #f3f3f3;
$alt-bg-color: #f3f3f3;
$white-bg-color: #f3f3f3;
$dark-bg-color: #2b2e30;
$alt-dark-bg-color: #716645;
$header-color: #181d24;
$footer-color: #181d24;

$cta-color: #716645;

$danger-color: #f11616;

$btn-font-color: $main-bg-color;

$border-color: $accent-color;

// Text boxes with icon

.text-box-with-icon-wrapper {
  padding: 30px 20px 15px 20px;

  .text-box-with-icon-wrapper-icon-wrapper {
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    padding: 10px;
    svg {
      width: 30px;
      height: auto;
    }
  }
  &:last-child {
    margin-bottom: 0 !important;
  }
}

// Selector with arrow buttons

.selector-with-arrows-row {
  .selector-with-arrows-img-wrapper {
    img {
      border-radius: 5px 5px 0 0;
    }
  }
  .selector-with-arrows-arrows-wrapper {
    font-size: 2.5rem;
    .selector-arrow {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin-right: 15px;
      font-size: 24px;
      border: 2px solid $light-font-color;
      border-radius: 50%;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition:
        box-shadow 0.3s ease,
        border-width 0.2s ease,
        transform 0.2s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

// Accordion with title

.accordion-with-title-accordion-wrapper {
  .accordion-with-title-accordion-instance {
    .accordion-with-title-accordion-text-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }
  }

  .accordion-with-title-chevron-icon {
    transition: transform 0.3s ease;

    &.accordion-with-title-chevron-open {
      transform: rotate(180deg);
    }
  }
}

// Banner with video and image, including clip art on the bottom

.top-banner-wrapper {
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 100%, 82% 96%, 0 96%);
}

@media screen and (min-width: 768px) {
  // Selector with arrow buttons

  .selector-with-arrows-row {
    .selector-with-arrows-row-text-content {
      max-width: 750px;
    }
    .selector-with-arrows-img-wrapper {
      img {
        border-radius: 5px 0 0 5px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  // Text boxes with icon, both col-4 and col-6 versions

  .text-box-with-icon-wrapper {
    padding: 40px 30px 25px 30px;
  }

  // Selector with arrow buttons

  .selector-with-arrows-row {
    .selector-with-arrows-img-wrapper {
      img {
        max-height: 500px;
      }
    }
  }

  // Banner with video and image, including clip art on the bottom

  .top-banner-wrapper {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 76% 100%, 73% 95%, 0 95%);
  }
}
