// Cut corners on images

.img-clip-wrapper {
  --corner-cut: 50px;

  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.top-right {
    clip-path: polygon(0 0, calc(100% - var(--corner-cut)) 0, 100% var(--corner-cut), 100% 100%, 0 100%);
  }

  &.bottom-right {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--corner-cut)), calc(100% - var(--corner-cut)) 100%, 0 100%);
  }
}

.img-clip-wrapper-small {
  --corner-cut: 30px;

  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.top-right {
    clip-path: polygon(0 0, calc(100% - var(--corner-cut)) 0, 100% var(--corner-cut), 100% 100%, 0 100%);
  }

  &.bottom-right {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--corner-cut)), calc(100% - var(--corner-cut)) 100%, 0 100%);
  }
}

// Clip art om bottom on the right side

.bottom-right-clip-art {
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 100%, 82% 96%, 0 96%);
}

// Clip art on top and bottom in the middle

.top-bottom-clip-art {
  position: relative;
  overflow: hidden;
}

.top-bottom-clip-art::before,
.top-bottom-clip-art::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 50%;
  height: 30px;
  background: #f4f4f4;
  z-index: 2;
  pointer-events: none;
  border: none;
}

.top-bottom-clip-art::before {
  top: -1px;
  left: 0;
  width: 50%;
  clip-path: polygon(0 0, 100% 0, calc(100% - 24px) 100%, 0 100%);
}

.top-bottom-clip-art::after {
  bottom: -1px;
  clip-path: polygon(24px 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (min-width: 992px) {
  .img-clip-wrapper {
    --corner-cut: 80px;
  }

  .img-clip-wrapper-small {
    --corner-cut: 50px;
  }

  .bottom-right-clip-art {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 76% 100%, 73% 95%, 0 95%);
  }
  .top-bottom-clip-art::before,
  .top-bottom-clip-art::after {
    height: 50px;
  }
}
