.img-clip-wrapper {
  --corner-cut: 50px;

  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.top-right {
    clip-path: polygon(0 0, calc(100% - var(--corner-cut)) 0, 100% var(--corner-cut), 100% 100%, 0 100%);
  }

  &.bottom-right {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--corner-cut)), calc(100% - var(--corner-cut)) 100%, 0 100%);
  }
}

@media screen and (min-width: 992px) {
  .img-clip-wrapper {
    --corner-cut: 80px;
  }
}
